/.git
/.vs
/TestResults/*
/UnitTestProject/bin/*
/UnitTestProject/obj/*
/Build/bin/*
/Build/obj/*
*.user
/packages/*
/Examples/ClassLibraryA/obj/*
/Examples/ClassLibraryA/bin/*
/Examples/ClassLibraryB/obj/*
/Examples/ClassLibraryB/bin/*
/Examples/AssemblyLoader/obj/*
/Examples/AssemblyLoader/bin/*
/Examples/Api/obj
/Examples/Api/bin/Release/netcoreapp2.0
